#modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    animation:modalSlide 0.5s ease-out forwards;
    transform: translateY(50%);
  }
  
  #modal-background {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
  }

  #modal-background.onClose {
    animation: 1s slideDown;
  }


  @keyframes modalSlide {
    from {
      transform: translateY(50%);
      opacity: 0;
    }
  
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  @keyframes modalSlide1 {
    from {
      transform: translateY(0%);
      opacity: 1;
    }
  
    to {
      transform: translateY(50%);
      opacity: 0;
    }
  }
  
