.mainContent {
    width: 100%;
    height: 660px;
    position: relative;

}

.createdProjects {
    width: 90%;
    border: 1px solid black;
    position: relative;
    bottom: 150px;
}

.backedProjects {
    width: 90%;
    border: 1px solid black;
}

.projects {
    width: 95%;
    padding: 15px;
    position: absolute;
    bottom: 0;
}

.profileInfo {
    width: 30%;
    height: 240px;
    display: block;
    position: relative;
    top: 30px;
    margin: auto;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
     background-color: #f8f9d2;
     background-image: linear-gradient(315deg, #f8f9d2 0%, #e8dbfc 74%);
}

.text {
    text-align: center;
    position: relative;
    top: 50px;
}