.mainContent {
    width: 100%;
    height: 660px;
    position: relative;
    display: inline-block;
    font-family: 'Muli', sans-serif;
}

.createdProjects {
    width: 50%;
    position: relative;
    margin-top: 8px;
    width: 100%;
    overflow: scroll;
}


.projects {
    display: inline-block;
    width: 100%;
    position: relative;
    margin-top: 8px;
    overflow-x: auto;
    white-space: nowrap;
}

/* .profileInfo {
    width: 100%;
    height: 200px;
    display: inline-block;
    position: relative;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
     background-color: #f8f9d2;
     background-image: linear-gradient(315deg, #f8f9d2 0%, #e8dbfc 74%);
} */

.text {
    text-align: center;
    position: relative;
    top: 50px;
}

.image {
    width: 100%;
    height: 200px;
}

.createdProjectsContainer {
     width: 30%;
     margin: 10px;
     display: inline-block;
    position: relative;
    margin: 15px;
    font-family: 'Muli', sans-serif;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.link {
    text-decoration: none;
    color: black;
}


.createdProjects {
    overflow-x: auto;
    white-space: nowrap;
    height: 370px;
}

.h2 {
    margin-left: 5px;
    font-family:Georgia,serif;
    color: black;
	font-variant: small-caps; text-transform: none; font-weight: 700; margin-bottom: 0;
}
