.container {
    /* box-shadow: 0px 0px 1px rgba(50, 50, 50, 0.75); */
    background-color: #fefefe;
background-image: linear-gradient(315deg, #fefefe 0%, #00a4e4 74%);
}

.container1 {
    background-color: white;
    border-top: 1px solid lightgray;

}

.startContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}


.items {
    /* padding: 5px; */
    margin-left: 25px;
    text-decoration: none;
    color: white;
}

.items2 {
margin: 5px;
}

.items:hover {
    color: red
}

.items1 {
    margin-left: 25px;
    text-decoration: none;
    color: black;
}

.items1:hover {
    color: red
}
