.container {
    display: flex;
    justify-content: space-between;
    /* box-shadow: 0 0.125rem 0.1875rem -0.125rem rgb(0 0 0 / 20%); */
     font-family: Lato,Trebuchet,Arial,sans-serif;
     box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    height: 70px;
    padding: 10px;
    /* box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px; */
    /* background-color: #bbf0f3;
    background-image: linear-gradient(315deg, #bbf0f3 0%, #f6d285 74%); */
    /* background-color: #d5fefd;
    background-image: linear-gradient(315deg, #d5fefd 0%, #fffcff 74%); */
    background-color: #f8f9d2;
    background-image: linear-gradient(315deg, #f8f9d2 0%, #e8dbfc 74%);

    
}   

.start {
    display: inline-block;
    padding: 10px;
    position: relative;
}


.h1 {
    max-width: 130px;
    /* max-height:100%; */
    position: relative;
    bottom: 64px;
    right: 10px;
}
.link {
    text-decoration: none;
    color: black;
}

.searchBar {
    width: 150px;
    height: 20px;
}

.btn {
    border:greenyellow;
    /* background-color: #f8f9d2;
    background-image: linear-gradient(315deg, #f8f9d2 0%, #e8dbfc 74%); */
    background-color: #fce043;
  background-image: linear-gradient(315deg, #fce043 0%, #fb7ba2 74%);
    color: black;
    /* color: white; */
    font-size: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: all ease 0.3s;
    height: 35px;
    margin: 5px;
    position: relative;
}

.btn:hover {
    color: #ffffff !important;
    background-color: #045de9;
    background-image: linear-gradient(315deg, #045de9 0%, #09c6f9 74%);
    transition: all 0.4s ease 0s;
}
