.container1 {
    width: 100%;
    height: 500px;
    font-family: 'Muli', sans-serif;
    /* background-color: #f8f9d2;
    background-image: linear-gradient(315deg, #f8f9d2 0%, #e8dbfc 74%); */
}

.container2 {
    width: 100%;
    height: 400px;
    font-family: 'Muli', sans-serif;
    /* border-bottom: 1px solid black; */
    background-color: #f8f9d2;
    background-image: linear-gradient(315deg, #f8f9d2 0%, #e8dbfc 74%);
}

.container3 {
    width: 100%;
    height: 350px;
    font-family: 'Muli', sans-serif;
    border-bottom: 1px solid black;
    /* background-color: #e7eff9;
    background-image: linear-gradient(315deg, #e7eff9 0%, #cfd6e6 74%); */
}

.container4 {
    width: 100%;
    height: 300px;
    background-color: #000000;
background-image: linear-gradient(315deg, #000000 0%, #414141 74%);
font-family: 'Muli', sans-serif;
}
.dreamCatcher {
    width: 560px;
    float: right;
    position: relative;
    bottom: 10px;
}

.containerIn {
    display: inline-block;
    text-align: center;
    width: 80%;
    position: relative;
    top: 100px;
    font-size: 20px;
    left: 35px;
}

.left {
    float: left;
    width: 50%;
}

.right {
    float: right;
    width: 50%;
}

.containerIn2 {
        text-align: center;
        width: 80%;
        position: relative;
        top: 70px;
        font-size: 20px;
        left: 35px;
}

.pic2 {
    width: 560px;
    position: relative;
    bottom: 40px;
}

.pic3 {
    width: 500px;
    position:relative;
    top: 20px;
    left: 80px;
}

.pic4 {
    width: 500px;
    position: relative;
    left: 105px;
}

.containerIn3 {
    color: white;
    position: relative;
    top: 60px;
    font-size: 25px;
    left: 90px
}